body {
    margin: 0px;
    font-family: serif;
    background: #f7f5f2;
}

.title {
    text-align: center;
    font-size: 52px;
    padding: 30px;
    font-family: cursive;
    color: #d4af37;
}

.menu-section {
    padding: 20px;
}

.menu-section h2 {
    font-size: 32px;
    margin-bottom: 15px;
}

.bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    background: #ece9e5;
    font-size: 32px;
}

.bottom-nav a {
    flex: 1; 
    text-align: center;
    padding: 20px;
    text-decoration: none;
    color: black;
}

.bottom-nav a.current {
    color: #d4af37;
    font-weight: bold;
    border: 2px solid black;
}

.scroll-row {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding-bottom: 10px;
}

.card {
    min-width: 250px;
    height: 170px;
    border-radius: 12px;
    padding: 15px;
    background: white;
    position: relative;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.card h3 {
    margin: 0;
}

.price {
    position: absolute;
    bottom: 10px;
    left: 15px;
}

.add-button { 
    position: absolute;
    bottom: 10px;
    right: 15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid black;
    font-size: 24px;
    text-align: center;
    line-height: 36px;
    background-color: #d6c6a8;
}

